{% extends 'base.html.twig' %}

{% block body %}

	<h2>Détail tâche</h2>

	<div>
		<label>Intitulé :</label>
		{{ todo.title }}</div>

	<div>
		<label>Statut :</label>
		<i>{{ status }}</i>
	</div>


	<div>
		<label>Créée le :</label>
		<i>{{ todo.createdAt|date("d/m/Y à H:i") }}</i>
	</div>

	<p>
		<a href="{{ path("todo_list") }}">Retour liste</a>
	</p>

{% endblock %}
