{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<div class="main col-xs-12">
			
			<h2>Bienvenue sur TodoApp, votre nouveau gestionnaire de tâches pour organiser votre quotidien !</h2>
			<div class="d-flex justify-content-center">
			<a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
			</div>
			

		


		</div>
	</div>

{% endblock %}
